@font-face {
  font-family: 'MiFuente';
  src: url('fonts/mifuente.woff2') format('woff2');
}

body{
    Background-color: #081016;
    font-family: 'MiFuente', sans-serif;
    color: rgb(172, 172, 172);
    font-size: 15px;
}

/*-------------------------------------------------------------------------------
PARTS OF PAGE
-------------------------------------------------------------------------------*/

header{
    Text-align: center;
}

main{
    padding: 5%;
    text-align: justify;
}

footer{
    Text-align: center;
}

/*-------------------------------------------------------------------------------
WHO AM I?
-------------------------------------------------------------------------------*/

h2.FirstTitle{

}

div.ISection{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 20px;
}

article.WhoAmI{
    font-size: 14px;
}

article.WhoAmI2{
    font-size: 14px;
}

img.I{
    display: grid;
    width: 350px;
    border-radius: 20px;
}

p.ChangePromes{
    font-size: 16px;
    color: blue;
}

/*-------------------------------------------------------------------------------
MUSIC
-------------------------------------------------------------------------------*/

article.TopFavoriteMusic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

h4 {
    grid-column: 1 / -1;
}

div.Sound {
    border: 1px solid #ccc;
    border-radius: 22px;
    padding: 5px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

p.Number {
    padding: 1%;
    background-color: rgb(43, 71, 82);
    color: white;
    font-size: 0.75rem;
    margin-right: 480px;
    border-radius: 20px;
    text-align: center;
}

p.TitleSound {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0px;
}

p.ArtistSound {
    font-size: 0.85rem;
    color: #7a7a7a;
    margin-top: -5px;
}

.Empty{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    height: 80px;
}

/*-------------------------------------------------------------------------------
IMG
-------------------------------------------------------------------------------*/

div.DeviceCenter {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

img.DeviceCenter {
    max-width: 100%;
    height: auto;
    width: 200px;
}


img.CHDOS3{
    max-width: 100%;
    height: auto;
    width: 550px;
    padding: 20px;
}