@font-face {
  font-family: 'MiFuente';
  src: url('fonts/mifuente.woff2') format('woff2');
}

body{
    Background-color: #081016;
    font-family: 'MiFuente', sans-serif;
    color: rgb(172, 172, 172);
    font-size: 15px;
}

/*-------------------------------------------------------------------------------
PARTS OF PAGE
-------------------------------------------------------------------------------*/

header{
    Text-align: center;
    color: Black;
    background-color: rgb(79, 160, 142);
    padding: 2%;
    border-radius: 22px;
}

main{
    padding: 5%;
    text-align: justify;
}

footer{
    background-color: black;
    padding: 3%;
    border-radius: 20px;
    Text-align: center;
}

/*-------------------------------------------------------------------------------
General elements
-------------------------------------------------------------------------------*/

h2{
    color: rgb(79, 160, 142);
}

hr.EmptyMini{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    height: 20px;
}

.Empty{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    height: 100px;
}

/*-------------------------------------------------------------------------------
WHO AM I?
-------------------------------------------------------------------------------*/

div.ISection{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 20px;
}

article.WhoAmI{
    font-size: 14px;
}

article.WhoAmI2{
    font-size: 14px;
}

p.ChangePromes{
    font-size: 16px;
    background-color: rgb(132, 194, 189);
    padding: 1%;
    text-align: center;
    border-radius: 50px;
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(24, 63, 54);
    box-shadow: 0 0 25px 5px rgba(91, 255, 236, 0.25);
}

/*-------------------------------------------------------------------------------
MUSIC
-------------------------------------------------------------------------------*/

article.TopFavoriteMusic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

h4 {
    grid-column: 1 / -1;
}

div.Sound {
    background-color: rgb(16, 46, 46);

    border-radius: 22px;
    padding: 5px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

    p.Number {
        padding: 1%;
        background-color: rgb(44, 121, 121);
        color: white;
        font-size: 0.75rem;
        margin-right: 425px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 0 10px 2px rgba(44, 121, 121, 0.5);
    }

    p.TitleSound {
        color: white;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0px;
    }

    p.ArtistSound {
        font-size: 0.85rem;
        color: #ffffffb4;
        margin-top: -5px;
    }



/*-------------------------------------------------------------------------------
CHD
-------------------------------------------------------------------------------*/

div.DeviceCenter {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

p.ProductName{
    background-color: black;
    color: rgb(75, 207, 207);
    padding: 2%;
    border-radius: 20px;
}

div.DeviceCenterImages{
    background-color: rgb(0, 0, 0);
    padding: 2%;
    border-radius: 20px;
}

div.CHDOSImages{
    background-color: rgb(0, 0, 0);
    padding: 0%;
    border-radius: 20px;
}


/*-------------------------------------------------------------------------------
IMG
-------------------------------------------------------------------------------*/

img.I{ /*Image of WHO AM I? */
    display: grid;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 40px 2px rgba(185, 185, 185, 0.25)
}

img.TDAHDiscalc{
    display: block;
    margin: auto;
    width: 1000px;
    border-radius: 20px;
}

img.ILike{
    display: block;
    margin: auto;
    width: 1000px;
    border-radius: 20px;
}

img.MiLive{
    display: block;
    margin: auto;
    width: 1000px;
    border-radius: 20px;
}

/* Contenido adicional*/

img.DeviceCenter {
    max-width: 100%;
    height: auto;
    width: 220px;
    padding-left: 15px;
    padding-top: 5px;
}


img.CHDOS3{
    max-width: 100%;
    height: auto;
    width: 510px;
    padding: 15px;
}

/*-------------------------------------------------------------------------------
Part of footer
-------------------------------------------------------------------------------*/

div.Socials{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}